/*
*
* SETTINGS
*-------------------------------------------------------------------------------
*/


/*
* COLOR LEGEND
*---------------------------------------
*/
$black: #000;
$black-trans: rgba(0, 0, 0, 0.1);
$blue-light: rgb(0,176,216);
$blue: #1B75BB;
$gray-60: #999;
$gray-80: #ccc;
$gray-10: #1a1a1a;
$gray-slate: #4f5061;
$green-light: #5cb85c;
$green: #49904a;
$green-dark: #306131;
$orange: #f49c2c;
$purple: #852b99;
$red: #d9534f;
$white: #fff;
$white-soft: #ebeef1;


/*
* FONT LEGEND
*---------------------------------------
*/
$sans-serif: "Helvetica Neue",Helvetica,Arial,sans-serif;
$sans-serif-roboto: "Roboto", $sans-serif;
$sans-serif-source: "Source Sans Pro", $sans-serif;


/*
* MAIN
*---------------------------------------
*/
$body-font: $sans-serif-source;
$heading-font: $sans-serif-roboto;




